params {
    config_profile_name = 'Test single-end stubs'
    config_profile_description = 'Minimal test dataset with blank references to run stubs with continuous integration to run from the tests/ dir'

    outdir = 'results/test'
    input = "${projectDir}/assets/samplesheet_test.csv" // adapted from https://github.com/nf-core/test-datasets/blob/chipseq/samplesheet/v2.0/samplesheet_test.csv

    genome = 'custom_genome'
    read_length = 50

    // Genome references
    genome_fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/atacseq/reference/genome.fa'
    genes_gtf   = 'https://raw.githubusercontent.com/nf-core/test-datasets/atacseq/reference/genes.gtf'
    blacklist = '../data/test.blacklist'
    rename_contigs = '${projectDir}/assets/R64-1-1_ensembl2UCSC.txt'


    max_cpus = 2        // for GitHub Actions https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
    max_memory = '6.GB'
    max_time   = '6.h'

    publish_dir_mode = "symlink"

    // CCBR shared resource paths
    index_dir = "../data"
    fastq_screen = null
    sicer_species = "sacCer1" // supported species https://github.com/zanglab/SICER2/blob/master/sicer/lib/GenomeData.py

    deeptools_bin_size = 10000 // this value is only to make bamCoverage run faster. use smaller value for real data.
    deeptools_excluded_chroms = 'chrM'
    run_sicer = false // TODO set to true after https://github.com/CCBR/CHAMPAGNE/issues/109
}

process {
    cpus = 1
    memory = '1 GB'
}
