// containers accessed in process definitions with $params.containers.NAME
params {
    containers {
        base = 'nciccbr/ccbr_ubuntu_base_20.04:v5'
        fastqc = 'nciccbr/ccrgb_qctools:v4.0'
        fastq_screen = 'nciccbr/ccbr_fastq_screen_0.14.1'
        frip = 'nciccbr/ccbr_frip'
        deeptools = 'nciccbr/ccbr_deeptools_3.5.3:v1'
        gem = 'nciccbr/ccbr_gem_3.4:v1'
        macs2 = 'nciccbr/ccbr_macs2_2.2.9.1:v1'
        multiqc = 'nciccbr/ccbr_multiqc_1.15:v1'
        ngsqc = 'nciccbr/ccbr_ngsqc_0.31:v1'
        phantom_peaks = 'quay.io/biocontainers/phantompeakqualtools:1.2.2--hdfd78af_1'
        preseq = 'nciccbr/ccbr_preseq_v2.0:v1'
        sicer = 'nciccbr/ccbr_sicer2_1.0.3:v1'
        cutadapt = 'nciccbr/ncigb_cutadapt_v1.18:latest'
        r = 'nciccbr/ccbr_r_4.3.0:v1'
    }
}
