// containers accessed in process definitions with $params.containers_NAME
params {
    containers_base = 'nciccbr/ccbr_ubuntu_base_20.04:v6.1'
    containers_deeptools = 'nciccbr/ccbr_deeptools_3.5.3:v1'
    containers_fastqc = 'nciccbr/ccrgb_qctools:v4.0'
    containers_fastq_screen = 'nciccbr/ccbr_fastq_screen_0.14.1:v1.0'
    containers_frip = 'nciccbr/ccbr_frip:v1'
    containers_gem = 'nciccbr/ccbr_gem_3.4:v1'
    containers_macs2 = 'nciccbr/ccbr_macs2_2.2.9.1:v1'
    containers_multiqc = 'nciccbr/ccbr_multiqc_1.15:v1'
    containers_ngsqc = 'nciccbr/ccbr_ngsqc_0.31:v1'
    containers_phantom_peaks = 'quay.io/biocontainers/phantompeakqualtools:1.2.2--hdfd78af_1'
    containers_picard = 'nciccbr/ccbr_picard_2.27.5:v1'
    containers_preseq = 'nciccbr/ccbr_preseq_v2.0:v1'
    containers_r = 'nciccbr/ccbr_r_4.3.0:v1'
    containers_sicer = 'nciccbr/ccbr_sicer2_1.0.3:v1'
}
