params {
    config_profile_name = 'Full single-end mouse dataset'
    config_profile_description = 'Mouse dataset to benchmark pipeline function'

    genome = 'mm10'
    outdir = "results/full_mm10"
    input = "${projectDir}/assets/samplesheet_full_mm10.csv"
    contrasts = "${projectDir}/assets/contrasts_full_mm10.tsv"
    sicer {
        species = "mm10" // supported species https://github.com/zanglab/SICER2/blob/master/sicer/lib/GenomeData.py
    }
}
