params {
    genomes {
        'hg38' {
            blacklist_index = "${params.index_dir}/hg38_basic/indexes/blacklist/*"
            reference_index = "${params.index_dir}/hg38_basic/indexes/hg38*"
            chromosomes_dir = "${params.index_dir}/hg38_basic/Chromsomes/"
            chrom_sizes = "${params.index_dir}/hg38_basic/indexes/hg38.fa.sizes"
            gene_info = "${params.index_dir}/hg38_basic/geneinfo.bed"
            effective_genome_size = 2700000000
        }
        'mm10' {
            blacklist_index = "${params.index_dir}/mm10_basic/indexes/mm10.blacklist.chrM.chr_rDNA.*"
            reference_index = "${params.index_dir}/mm10_basic/indexes/mm10*"
            chromosomes_dir = "${params.index_dir}/mm10_basic/Chromsomes/"
            chrom_sizes = "${params.index_dir}/mm10_basic/indexes/mm10.fa.sizes"
            gene_info = "${params.index_dir}/mm10_basic/geneinfo.bed"
            effective_genome_size = 2400000000
        }
    }
}
