params {
    genomes {
        'hg38' {
            blacklist = 'hg38.blacklist'
            blacklist_files = "${params.index_dir}/hg38_basic/indexes/hg38.blacklist*"
            reference_files = "${params.index_dir}/hg38_basic/indexes/hg38*"
            effective_genome_size = 2700000000
            chrom_sizes = "${params.index_dir}/hg38_basic/indexes/hg38.fa.sizes"
            gene_info = "${params.index_dir}/hg38_basic/geneinfo.bed"
            chromosomes_dir = "${params.index_dir}/hg38_basic/Chromsomes/"
        }
        'mm10' {
            blacklist = 'mm10.blacklist'
            blacklist_files = "${params.index_dir}/mm10_basic/indexes/mm10.blacklist*"
            reference_files = "${params.index_dir}/mm10_basic/indexes/mm10*"
            effective_genome_size = 2400000000
            chrom_sizes = "${params.index_dir}/mm10_basic/indexes/mm10.fa.sizes"
            gene_info = "${params.index_dir}/mm10_basic/geneinfo.bed"
            chromosomes_dir = "${params.index_dir}/mm10_basic/Chromsomes/"
        }
        'test' { // blank files for testing stubs on GitHub Actions
            blacklist = 'test.blacklist'
            blacklist_files = "${baseDir}/tests/data/test.blacklist"
            reference_files = "${baseDir}/tests/data/test/*"
            effective_genome_size = 2700000000
            chrom_sizes = "${baseDir}/tests/data/test.fa.sizes"
            gene_info = "${baseDir}/tests/data/geneinfo.bed"
            chromosomes_dir = "${baseDir}/tests/data/chroms/"
        }
    }
}
