params {
    genomes {
        'hg38' {
            fasta = "${params.index_dir}/hg38_basic/hg38_basic.fa"
            genes_gtf = "${params.index_dir}/hg38_basic/genes.gtf"
            blacklist_index = "${params.index_dir}/hg38_basic/indexes/blacklist/hg38.blacklist_v3.chrM.chr_rDNA.*"
            reference_index = "${params.index_dir}/hg38_basic/bwa_index/hg38*"
            chromosomes_dir = "${params.index_dir}/hg38_basic/Chromsomes/"
            chrom_sizes = "${params.index_dir}/hg38_basic/indexes/hg38.fa.sizes"
            gene_info = "${params.index_dir}/hg38_basic/geneinfo.bed"
            effective_genome_size = 2700000000
            meme_motifs = 'https://github.com/CCBR/ASPEN/raw/55f909d76500c3502c1c397ef3000908649b0284/resources/motif/HOCOMOCOv11_core_HUMAN_mono_meme_format.tar.gz'
        }
        'mm10' {
            fasta = "${params.index_dir}/mm10_basic/mm10_basic.fa"
            genes_gtf = "${params.index_dir}/mm10_basic/genes.gtf"
            blacklist_index = "${params.index_dir}/mm10_basic/indexes/blacklist/mm10.blacklist.chrM.chr_rDNA.*"
            reference_index = "${params.index_dir}/mm10_basic/indexes/reference/mm10*"
            chromosomes_dir = "${params.index_dir}/mm10_basic/Chromsomes/"
            chrom_sizes = "${params.index_dir}/mm10_basic/indexes/mm10.fa.sizes"
            gene_info = "${params.index_dir}/mm10_basic/geneinfo.bed"
            effective_genome_size = 2400000000
            meme_motifs = 'https://github.com/CCBR/ASPEN/raw/55f909d76500c3502c1c397ef3000908649b0284/resources/motif/HOCOMOCOv11_core_MOUSE_mono_meme_format.tar.gz'
        }
    }
}
