process {

    publishDir = [
        path: { task.label ? "${params.outdir}/${task.label.findAll { !it.startsWith('process_') & !it.startsWith('error_') }.join('/')}/${task.process.tokenize(':')[-1].toLowerCase()}" : "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    errorStrategy = 'finish'

    withName: 'INPUT_CHECK:SAMPLESHEET_CHECK' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'CUTADAPT' {
        ext.args = [
            '--nextseq-trim=2',
            '--trim-n -n 5 -O 5',
            '-q 10,10',
            '-m 20',
            '-b file:/opt2/TruSeq_and_nextera_adapters.consolidated.fa'
        ].join(' ').trim()
    }
    withName: 'WRITE_GENOME_CONFIG' {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: "copy"
        ]
    }
}
