process {

    publishDir = [
        path: { task.label ? "${params.outdir}/${task.label.findAll { !it.startsWith('process_') & !it.startsWith('error_') }.join('/')}/${task.process.tokenize(':')[-1].toLowerCase()}" : "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    errorStrategy = 'finish'

    /*
    withName: '.*CUSTOM_DUMPSOFTWAREVERSIONS' {
        cache = false
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }*/

    withName: '.*INPUT_CHECK:CHECK_SAMPLESHEET' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*POOL_INPUTS:CONCAT_INPUTS' {
        ext.prefix = { "${meta.id}.pooled"}
    }
}
