params {
    // ensure outputDir and tracedir are set correctly after including profile options
    outputDir = outputDir
    tracedir = "${params.outputDir}/pipeline_info"
}
process {

    errorStrategy = 'finish'

    withName: '.*POOL_INPUTS:CONCAT_INPUTS.*' {
        ext.prefix = { "${meta.id}.pooled.fastq.gz"}
    }

}
