/*
Different resource requirements for production vs stub run
https://github.com/nextflow-io/nextflow/discussions/2094
*/
process {
    withName: 'TRIM.*' {
        container = 'nciccbr/ncigb_cutadapt_v1.18:latest'
        cpus = 16
        memory = '32 G'
    }
    withName: 'FASTQC' {
        container = 'nciccbr/ccrgb_qctools:latest'
        cpus = 32
        memory = '24 G'
    }
    withName: 'FASTQ_SCREEN' {
        container = 'nciccbr/ccbr_fastq_screen_0.14.1'
        containerOptions = "--bind ${params.fastq_screen.db_dir}"
        cpus = 24
        memory = '24 G'
    }
    withName: 'ALIGN.*|INDEX_BAM' {
        container = 'nciccbr/ccbr_ubuntu_base_20.04:latest'
        cpus = 32
        memory = '48 G'
    }
    withName: 'PRESEQ' {
        container = 'nciccbr/ccbr_preseq_v2.0:v1'
        cpus = 16
        memory = '24 G'
    }
    withName: 'PHANTOM_PEAKS' {
        container = 'quay.io/biocontainers/phantompeakqualtools:1.2.2--hdfd78af_1'
        cpus = 1
        memory = '24 G'
    }
    withName: 'DEDUPLICATE' {
        container = 'nciccbr/ccbr_macs2_2.2.9.1:v1'
        cpus = 4
        memory = '24 G'
    }
    withName: 'QC_.*|PPQT_.*' {
        container = 'nciccbr/ccbr_ubuntu_base_20.04:latest'
    }
    withName: 'NGSQC_GEN' {
        container = 'nciccbr/ccbr_ngsqc_0.31:v1'
        cpus = 1
        memory = '120 G'
    }
    withLabel: 'deeptools' {
        container = 'nciccbr/ccbr_deeptools_3.5.3:v1'
        cpus = 16
        memory = '24 G'
    }
    withName: 'BAM_COVERAGE|PLOT_FINGERPRINT|COMPUTE_.*|NORMALIZE_INPUT' {
        cpus = 32
        memory = '24 G'
    }
    withName: 'MULTIQC' {
        container = 'nciccbr/ccbr_multiqc_1.15:v1'
        memory = '24 G'
    }
    withName: 'SICER.*' {
        container = 'nciccbr/ccbr_sicer2_1.0.3:v1'
    }
}
