params {
    config_profile_name = 'Test single-end mouse dataset'
    config_profile_description = 'Minimal mouse dataset to check pipeline function'

    genome = 'mm10' // TODO this doesn't replace genome value elsewhere in the configfile
    outdir = "results/test_${params.genome}"
    input = "assets/samplesheet_test_${params.genome}.csv"


    align {
        index_dir = "/data/CCBR_Pipeliner/db/PipeDB/Indices/${params.genome}_basic/indexes/"
        blacklist = "${params.genome}.blacklist"
        blacklist_files = "${params.align.index_dir}${params.align.blacklist}*"
        reference_files = "${params.align.index_dir}${params.genome}*"
        min_quality = 6                     // to get a min quality of 5, set this to 6
        effective_genome_size = 2400000000  // source: https://github.com/CCBR/Pipeliner/blob/86c6ccaa3d58381a0ffd696bbf9c047e4f991f9e/hg38.json#L349
        chrom_sizes = "${params.align.index_dir}${params.genome}.fa.sizes"       // source: https://github.com/CCBR/Pipeliner/blob/86c6ccaa3d58381a0ffd696bbf9c047e4f991f9e/hg38.json#L359
    }
    gene_info = "/data/CCBR_Pipeliner/db/PipeDB/Indices/${params.genome}_basic/geneinfo.bed"
    chromosomes_dir = "/data/CCBR_Pipeliner/db/PipeDB/Indices/${params.genome}_basic/Chromsomes/"
}
