params {
    config_profile_name = 'Test single-end'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    outdir = 'results/test'
    input = 'assets/samplesheet_test.csv' // adapted from https://github.com/nf-core/test-datasets/blob/chipseq/samplesheet/v2.0/samplesheet_test.csv

    read_length = 50

    // Genome references
    genome_fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/atacseq/reference/genome.fa'
    genes_gtf   = 'https://raw.githubusercontent.com/nf-core/test-datasets/atacseq/reference/genes.gtf'
    blacklist = '/data/CCBR_Pipeliner/db/PipeDB/Indices/hg38_basic/indexes/hg38.blacklist_v3.chrM.chr_rDNA.fa'
    genome = 'sacCer3'
    save_reference = true // https://github.com/nf-core/chipseq/blob/51eba00b32885c4d0bec60db3cb0a45eb61e34c5/subworkflows/local/prepare_genome.nf#L47-L51

    max_cpus = 32           // for interactive node on biowulf
    max_memory = '120 GB'   // for interactive node on biowulf

    deeptools.bin_size = 10000 // this value is only to make bamCoverage run faster. use smaller value for real data.
    run {
        qc = false
        normalize_input = false
        call_peaks = true
        gem = true
        sicer = false
        macs_broad = true
        macs_narrow = true
    }
    sicer {
        species = "sacCer1"
    }
}
dag {
    enabled = true
    overwrite = true
    file = "assets/dag.png"
}
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}
