outputDir = "${launchDir}/results/spikein"
params {
    config_profile_name = "Test spike-in normalization"

    genome = 'hg38'
    input = "${projectDir}/assets/samplesheet_test_spikein.csv"
    outputDir = outputDir
    sicer_species = 'hg38'

    spike_genome = 'dmelr6.32'
    deeptools_normalize_samples = "None" // recommend no additional normalization for spike-in
}
