params {
    config_profile_name = 'Test paired-end'
    config_profile_description = 'Minimal paired-end test dataset to check pipeline function'

    outdir = 'results/test_paired'
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/chipseq/samplesheet/v2.0/samplesheet_test.csv'

    read_length = 50
}
