params {
    config_profile_name = 'Test single-end'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    outdir = 'results/test'
    input = 'assets/samplesheet_test.csv' // adapted from https://github.com/nf-core/test-datasets/blob/chipseq/samplesheet/v2.0/samplesheet_test.csv
    max_cpus = 8

    deeptools {
        bin_size = 200 // TODO don't do nested params structure, breaks on override
        smooth_length = 75
        normalize_using = "RPGC"
        excluded_chroms = "chrM chrX chrY"
    }
}
