params {
    config_profile_name = 'Test paired-end and single-end mixed'
    config_profile_description = 'Minimal test dataset to check paired & single end handling'

    outdir = 'results/test_paired'
    input = 'assets/samplesheet_test_paired.csv' // adapted from 'https://raw.githubusercontent.com/nf-core/test-datasets/chipseq/samplesheet/v2.0/samplesheet_test.csv'
    genome = 'hg38'

    max_cpus = 32           // for interactive node on biowulf
    max_memory = '120 GB'   // for interactive node on biowulf

    deeptools.bin_size = 10000 // this value is only to make bamCoverage run faster. use smaller value for real data.
    run {
        qc = false
        normalize_input = false
        call_peaks = false // no peaks exist with this yeast dataset with hg38 as the reference
    }
}
dag {
    enabled = true
    overwrite = true
    file = "assets/dag.png"
}
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}
