params {
    config_profile_name = 'Test single-end mouse dataset'
    config_profile_description = 'Minimal mouse dataset to check pipeline function'

    genome = 'mm10'
    outdir = "results/${params.genome}"
    input = "assets/samplesheet_${params.genome}.csv"

    max_cpus = 32           // for interactive node on biowulf
    max_memory = '120 GB'   // for interactive node on biowulf

}
