params {
    config_profile_name = 'Test human datasets'
    config_profile_description = 'Human datasets from ENCODE projects'

    genome = 'hg38'
    outdir = "output/human"
    input = "assets/samplesheet_test_human.csv"
    contrasts = null
    //read_length = 50
    sicer_species = "${params.genome}" // supported species https://github.com/zanglab/SICER2/blob/master/sicer/lib/GenomeData.py

    run_qc = false
    run_deeptools = false
    run_sicer = false
    run_chipseeker = false // https://github.com/CCBR/CHAMPAGNE/issues/169
}
