outputDir = "${launchDir}/results/test_mm10"
params {
    config_profile_name = 'Test single-end mouse dataset'
    config_profile_description = 'Minimal mouse dataset to check pipeline function'

    genome = 'mm10'
    input = "${projectDir}/assets/samplesheet_test_mm10.csv"
    contrasts = "${projectDir}/assets/contrasts_test_mm10.tsv"
    outputDir = "${outputDir}"
    read_length = 50
    sicer_species = "mm10" // supported species https://github.com/zanglab/SICER2/blob/master/sicer/lib/GenomeData.py

}
