process {
    withName: 'TRIM_.*' {
        container = 'nciccbr/ncigb_cutadapt_v1.18:latest'
    }
    withName: 'FASTQC' {
        container = 'nciccbr/ccrgb_qctools:latest'
    }
}
params {
    /* distributed with the nciccbr/ncigb_cutadapt container */
    adapters = "/opt2/TruSeq_and_nextera_adapters.consolidated.fa"
}
